.main{
	font-family: cursive;
	font-size: 15px;
}

.form{
	text-align: center;
	font-size:20px;
}

.input{
	font-weight: bolder;
}

#heading{
	font-size: 40px;
	width: 100%;
	font-family: cursive;
	font-weight: bolder;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align left */
    gap: 20px; /* Small space between logo and heading */
    padding: 10px 20px; /* Space from page edge */
}

.logo {
    height: 150px;   /* Adjust size */
    width: auto;    /* Keep proportions */
}

#order-heading{
	font-size: 30px;
	text-align: center;
	font-weight: bolder;
}

#slogan{
	width: 100%;
	font-weight: bold;
	font-size: 15px;
	font-family: cursive;
	color: #4C4C54;
}