#heading{
	font-size: 40px;
	width: 100%;
	font-family: cursive;
	font-weight: bolder;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align left */
    gap: 20px; /* Small space between logo and heading */
    padding: 10px 20px; /* Space from page edge */
}

.logo {
    height: 150px;   /* Adjust size */
    width: auto;    /* Keep proportions */
}

.menu{
	font-family: cursive;
	align-items: center;
}

#menu-heading{
	font-size: 40px;
	font-weight: bolder;
	font-family: cursive;
}

.menu-item-heading{
	font-size: 30px;
	font-family: cursive;
	font-weight: bold;
}

.menuitem{
	padding: 10px;
	padding-right: 22px;
	display: inline-table;
}

.menu-item-description{
	font-size: 20px;
	color: #4C4C54;
	width: 462px;
}

img{
	height: 310px;
	width: 100%;
	padding-right: 20px;
	padding-top: 20px;
	object-fit: contain;
}

.specialDoge{
	height: 310px;
	width: 414px;
	padding-top: 20px;
	padding-left: 10px;
	object-fit: contain;
}

.order-button{
	width: 150px;
	height: 50px;
	display: inline-table;
	font-size: 20px;
}

.pizza-price{
	font-weight: bolder;
	font-size: 20px;
}

.title{
	display: flex;
	flex-direction: column;
}

#slogan{
	width: 100%;
	font-weight: bold;
	font-size: 15px;
	font-family: cursive;
	color: #4C4C54;
}