#heading{
	font-size: 40px;
	width: 100%;
	font-family: cursive;
	font-weight: bolder;
}


.header {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align left */
    gap: 20px; /* Small space between logo and heading */
    padding: 10px 20px; /* Space from page edge */
}

.logo {
    height: 150px;   /* Adjust size */
    width: auto;    /* Keep proportions */
}

#slogan{
	width: 100%;
	font-weight: bold;
	font-size: 15px;
	font-family: cursive;
	color: #4C4C54;
}

#submit-desc{
	font-size: 20px;
	font-family: cursive;
	font-weight: light;
	text-align: center;
}

#submit-title{
	font-family: cursive;
}

fieldset{
	border-radius: 30px;
}

.footer{
	text-align: center;
	font-size: 20px;
	font-weight: light;
	font-family: Arial, Helvetica, sans-serif;

}